
- let footerColor = newCarDetails ? "footer__copyright-color" : "footer__copyright--used-color";
footer.footer
    .footer__logo
        a(href="/")
            img(src='/img/logo-green-round.png' alt='CarWorld logo')
    a.footer__copyright(class=`${footerColor}` href="https://www.linkedin.com/in/avduesh-gautam-829569174/" target="_blank") &copy; by Avduesh Gautam 
    