footer.footer
    .footer__logo
        img(src='/img/logo-green-round.png' alt='CarWorld logo')
    a.footer__copyright(style="color: #55c57a" href="https://www.linkedin.com/in/avduesh-gautam-829569174/" target="_blank") &copy; by Avduesh Gautam
    