header.header
    nav.nav.nav--tours
        a.nav__el(href='/newCars') All Cars
    .header__logo
        a(href="/")
            img(src='/img/logo-white.png' alt='logo')
    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout Log out
            a.nav__el(href='/me')
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                //- span= user.name.split(' ')[0]
        else
            //- a.nav__el(href='/api/v1/users/login') Log in
            //- a.nav__el.nav__el--cta(href='#') Sign up

.search__cars
    a.btn.btn--green.btn--small(href='/search/under-10') Under 10 Lacks
    a.btn.btn--green.btn--small(href='/search/under-20') Under 20 Lacks
    a.btn.btn--green.btn--small(href='/search/under-30') Under 30 Lacks
    a.btn.btn--green.btn--small(href='/search/under-40') Under 40 Lacks
    a.btn.btn--green.btn--small(href='/search/under-50') Under 50 Lacks
    a.btn.btn--green.btn--small(href='/search/under-50-plus') 50+ Lacks






