extends base

block content 
  main.main
    main.main
      .login-form
          h2.heading-secondary.ma-bt-lg Enter a new password
          form.form.form--resetPassword
            .form__group.ma-bt-md
                label.form__label(for='password') Password 
                input#password.form__input(type='password', placeholder='••••••••', value='pass1234', required='required', minlength='8')
            .form__group.ma-bt-md
                label.form__label(for='confirm-password') Confirm Password 
                input#confirm-password.form__input(type='password', placeholder='••••••••', value='pass1234', required='required', minlength='8')

                input#token-input.form__input(type="hidden", value=`${resetToken}`)
            .form__group
                button.btn.btn--green Submit 
                  
